@{
    ViewData["Title"] = "Index";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="icon" href="../Images/Icons/logo.png">
    <title>HPSB-Startseite</title>
</head>

<body>
    <div class="startlogo"></div>
    <div class="main">
        <h1>Hypixel Skyblock</h1>
        <h3>Beschreibung des Spiels</h3>
        <p>
            Skyblock ist ein Spiel, bei dem die Spieler auf einer winzigen Insel mit fast nichts beginnen und schnell
            damit beginnen,
            Ressourcen freizuschalten und zu sammeln, ihre Insel zu erweitern, Monster zu bekämpfen, Farmen zu errichten
            und
            all ihre Möglichkeiten zu erkunden. <br>
            Es gibt keinen richtigen oder falschen Weg Skyblock zu spielen, alles was der Spieler tun muss, ist einfach
            Spass haben.
        </p>
        <div class="linkflex">
            <a href="Collections">
                <img src="~/css/Images/Icons/BookandQuill.png">
                <br>
                Sammlungen
            </a>
            <a href="Islands">
                <img src="~/css/Images/Icons/Skyblock.png">
                <br>
                Inseln
            </a>
            <a href="Fairysoul">
                <img src="~/css/Images/Icons/FairySoul.png">
                <br>
                Feenseelen
            </a>
        </div>
    </div>
</body>