@{
    ViewData["Title"] = "Index";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="icon" href="..\Images/Icons/logo.png">
    <title>HPSB-Islands</title>
</head>
<body>
    <div class="navbar">
        <div class="logo"></div>
        <a href="Home">Startseite</a>
        <a href="Collections">Sammlungen</a>
        <a id="active" href="Island">Inseln</a>
        <a href="Fairysoul">Feenseelen</a>
    </div>
    <div class="main"> 
        <h1>Inseln und Beschreibungen</h1>
        <p>
            Es gibt insgesamt 9 Inseln. Auf dieser Site werden die Attraktionen der Inseln beschrieben 
            und dazu auch noch das Highlight der jeweiligen Insel beschrieben.
        </p>
        <img class="map" src="~/css/Images/Islands/SkyblockMap.png" alt="">
        <div class="flexlist">
            <img class="flexitem" src="~/css/Images/Islands/Hub-Island.png" alt="">
            <div class="flexitem">
                <h4>Hub-Insel</h4>
                <p>
                    Die Hub-Insel ist die erste Insel, auf die der Spieler über das Hub-portal auf ihrer Insel erreicht.
                    Sie ist die Zweitgrösste Insel im Spiel und dient als Zentralpunkt um zu vielen anderen Inseln zu gelangen.
                    Viele aktivitäten auf dieser Insel schalten andere Inseln per Skill-Leveling frei.
                </p>
                <h4>Highlights Hub-Insel</h4>
                <p>
                    In der Hub-Insel gibt es das Auktionshaus, den Bazaar, die Bank und viele andere Händler sowie Tia, die Fee.
                </p>
            </div>
            <img class="flexitem" src="~/css/Images/Islands/ParkIsland.png" alt="">
            <div class="flexitem">
                <h4>Der Park</h4>
                <p>
                    Der Park ist eine grosse Insel in der viele verschiedene Wald-Biome verknüpft sind in denen man die restlichen Holzarten sammeln kann.
                </p>
                <h4>Highlights Der Park</h4>
                <p>
                    Der Park bietet das Waldrennen, der Melancholische Vikinger, die Feuerpüfung von Ryan, Melody, Romeo und Julia.
                </p>
            </div>
            <img class="flexitem" src="~/css/Images/Islands/SpidersDen.png" alt="">
            <div class="flexitem">
                <h4>Spinnenbau</h4>
                <p>
                    Der Spinnenbau ist eine Zone zum kämpfen, die in 2 Teilregionen aufgeteilt ist.
                    Einmal gibt es den Bau der Spinnen mit vielen löchern und Treppen in denen etwas schwächere Monster leben,
                    und dann gibt es die Spinnenhöhle in der um einiges stärkere Spinnen leben und stärker werden desto tiefer es in die Höhle geht.
                </p>
                <h4>Highlights Spinnenbau</h4>
                <p>
                    Der Arachne-Boss, der Bestientöter, Oma Wolf und der Archäologe.
                </p>
            </div>
            <img class="flexitem" src="~/css/Images/Islands/TheBarn.png" alt="">
            <div class="flexitem">
                <h4>Die Scheune</h4>
                <p>
                    Die Scheune ist die erste von den Farming-Inseln auf der viele Pflanzen geerntet werden können und Tiere getötet werden können.
                </p>
                <h4>Highlights Die Scheune</h4>
                <p>
                    Der Scheunenknecht bei dem eine Quest erledigt wird und der Windmühlen-Operator.
                </p>
            </div>
            <img class="flexitem" src="~/css/Images/Islands/MushroomDesert.png" alt="">
            <div class="flexitem">
                <h4>Pilzwüste</h4>
                <p>
                    Die Pilzwüste ist die zweite, um einiges grössere Farming-Insel 
                    auf der die restlichen Pflanzen gesammelt und die restlichen Tiere getötet werden können.
                </p>
                <h4>Highlights Pilzwüste</h4>
                <p>
                    Trevor der Fallensteller, Jake, die Pilz-Schlucht und die Pilzhöhlen und die Oase.
                </p>
            </div>

            <img class="flexitem" src="~/css/Images/Islands/GoldMine.png" alt="">
            <div class="flexitem">
                <h4>Goldmine</h4>
                <p>
                    Die Goldmine ist die Insel auf die Spieler nach den Kohleminen im Hub wandern.
                    Gleichzeitig dienen die Goldminen als weg zu den Tiefen Höhlen.
                </p>
                <h4>Highlights Goldmine</h4>
                <p>
                    Der Eisen- und Goldschmied, der Faule Minenarbeiter und Rusty.
                </p>
            </div>
            <img class="flexitem" src="~/css/Images/Islands/DeepCaverns.png" alt="">
            <div class="flexitem">
                <h4>Tiefe Höhlen</h4>
                <p>
                    Die Tiefe Höhle ist ein Minenort der per Goldmine erreicht werden kann und in der einige Materialien abgebaut werden können.
                    Die Tiefe Höhle besteht aus 6 Teilorten die immer gefährlicher werden, dafür immer wertvollere Materialien bieten.
                </p>
                <h4>Highlights Tiefe Höhlen</h4>
                <p>
                    Der Lapis-Minenarbeiter, Walter der Creeper und Rhys der Zwerg, der Zugang zu den Zwerg-Minen verschafft.
                </p>
            </div>
            <img class="flexitem" src="~/css/Images/Islands/TheEnd.png" alt="">
            <div class="flexitem">
                <h4>Das Ende</h4>
                <p>
                    Das Ende ist ein Ort, der auf die End-Dimension des Hauptspiels aufbaut und in dem viele Endermen leben, die das Drachennest beschützen.
                </p>
                <h4>Highlights Das Ende</h4>
                <p>
                    Der Perlenhändler, das End-Rennen, der Enderdrachen-Boss und das Begräbnis der Leere
                </p>
            </div>
            <img class="flexitem" src="~/css/Images/Islands/CrimsonIsle.png" alt="">
            <div class="flexitem">
                <h4>Karmesin-Insel</h4>
                <p>
                    Die Karmesin-Insel ist eine sehr schwere Kampf-Insel auf der Viele Bosse, 
                    Fraktionen und andere sehr Starke Monster, die bis zu mehr als eine Million Leben haben, erscheinen.

                </p>
                <h4>Highlights Karmesin-Insel</h4>
                <p>
                    Der 4-Spieler Kuudra-Bosskampf, Magierruf, Barbarenruf und andere spannende Merkmale.
                </p>
            </div>

        </div>
    </div>
</body>
</html>