html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.flow-text {
    text-align: center;
    font-size: 20px;
}
.collection-text {
    font-size: 20px;
}

.overcollection-title {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}
.collection-title {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.image {
    margin-left: 50px;
    width: 100px;
    height: 100px;
}
.collection-image {
    width: 100px;
    height: 100px;
}
.collection-table {
    width: 80%;
    margin-left: 15%;
}