@page
@model SkyblockProject.Views.Island.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h1 class="card-title">Inseln und Beschreibung</h1>
<p class="flow-text">Sammlungen sind eine Möglichkeit, neue Craftingrezepte  freizuschalten, Gegenstände zu tauschen oder  Belohnungen für das Sammeln eines bestimmten Gegenstands zu erhalten.</p>
