<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="icon" href="~/css/Images/Icons/logo.png">
    <title>HPSB-Fairysouls</title>
</head>

<body>
    <div class="navbar">
        <div class="logo"></div>
        <a href="Home">Startseite</a>
        <a href="Collections">Sammlungen</a>
        <a href="Islands">Inseln</a>
        <a id="active" href="Fairysoul">Feenseelen</a>
    </div>
    <div class="main">
        <h1>Beschreibung Feenseelen</h1>
        <p> 
            Feenseelen sind Sammelobjekte, die in den meisten Teilen der Karte verstreut und versteckt sind.
            Die Spieler können mit den Feenseelen interagieren, indem sie sie anklicken und damit einsammeln.
            Jede Seele ist einzigartig und kann nur einmal aufgesammelt werden.
        </p>
        <img class="fairysoulimg" src=".\css/Images/Icons/FairySoul.png" alt="Feenseele">
        <p>
            Bis zum momentanen Stand (Skyblock Version v0.13 update) gibt es <b>238 Feenseelen</b> zu finden.
        </p>
        <p>
            Doch was bringen diese Feenseelen?<br>
            Feenseelen können in Fünfergruppen bei Tia der Fee in der Wildnis in südlichen Teil der Hub-Insel,
            bei einem Sandteich getauscht werden.
            Im Tausch erhält der Spieler eine Permanente Erhöhung seiner Lebenspunkte, Verteidigungspunkte, Stärke und
            Geschwindigkeit.
        </p>
        <p>
            Die Tauschwerte verbessern sich langsam, je mehr Seelen abgegeben werden.
        </p>
        <div class="flexlist">
            <h3>Anmerkung: Youtube sperrt das anzeigen der Youtube Videos in den Iframes.</h3>
			<iframe class="flexitem" src="https://www.youtube.com/watch?v=l8yX82ZiL-s" 
			gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            <div class="flexitem">
                <h4>Feenseelen auf der Hub-Insel</h4>
                <p>
                    In diesem Video werden alle Feenseelen der Hub-Insel gezeigt. 
                    (Die Feenseele bei 3:39 ist Outdated allerdings noch dort in der nähe.)
                </p>
            </div>
            <iframe class="flexitem" src=""></iframe>
            <div class="flexitem">
                <h4>Feenseelen auf dem Park</h4>
                <p>
                    In diesem Video werden alle Feenseelen des Parks gezeigt. 
                </p>
            </div>
            <iframe class="flexitem" src=""></iframe>
            <div class="flexitem">
                <h4>Feenseelen Farming-Inseln</h4>
                <p>
                    In diesem Video werden alle Feenseelen der Farming-Inseln gezeigt. <br>
                    Das heisst die Scheune und die Pilzwüste sind in einem Video.
                </p>
            </div>
            <iframe class="flexitem" src=""></iframe>
            <div class="flexitem">
                <h4>Feenseelen Goldmine</h4>
                <p>
                    In diesem Video werden alle Feenseelen der Goldmine gezeigt. 
                </p>
            </div>
            <iframe class="flexitem" src=""></iframe>
            <div class="flexitem">
                <h4>Feenseelen Tiefe Höhlen</h4>
                <p>
                    In diesem Video werden alle Feenseelen der Tiefen Höhlen gezeigt. 
                </p>
            </div>
            <iframe class="flexitem" src=""></iframe>
            <div class="flexitem">
                <h4>Feenseelen Zwerg-Minen</h4>
                <p>
                    In diesem Video werden alle Feenseelen der Zwerg-Minen gezeigt. 
                </p>
            </div>
            <iframe class="flexitem" src=""></iframe>
            <div class="flexitem">
                <h4>Feenseelen Spinnenbau</h4>
                <p>
                    In diesem Video werden alle Feenseelen des Spinnenbaus gezeigt. 
                </p>
            </div>
            <iframe class="flexitem" src=""></iframe>
            <div class="flexitem">
                <h4>Feenseelen Das Ende</h4>
                <p>
                    In diesem Video werden alle Feenseelen vom Ende gezeigt. 
                </p>
            </div>
            <iframe class="flexitem" src=""></iframe>
            <div class="flexitem">
                <h4>Feenseelen Karmesin-Insel</h4>
                <p>
                    In diesem Video werden alle Feenseelen der Karmesin-Insel gezeigt. 
                </p>
            </div>
            <iframe class="flexitem" src=""></iframe>
            <div class="flexitem">
                <h4>Feenseelen Verlies-Hub</h4>
                <p>
                    In diesem Video werden alle Feenseelen vom Verlies-Hub gezeigt. 
                </p>
            </div>
            <iframe class="flexitem" src=""></iframe>
            <div class="flexitem">
                <h4>Feenseelen Jerry's Werkstatt</h4>
                <p>
                    In diesem Video werden alle Feenseelen in Jerry's Werkstatt gezeigt. <br>
                    Jerry's Werkstatt ist nicht jederzeit verfügbar. <br>
                    Siehe wann es Weihnachten in Skyblock wird und betrete dann Jerry's Werkstatt.
                </p>
            </div>
            <iframe class="flexitem" src=""></iframe>
            <div class="flexitem">
                <h4>Sonstige Feenseelen</h4>
                <p>
                    In diesem Video werden alle Feenseelen gezeigt die über eine andere Art als auf der Welt anklicken gesammelt werden. 
                </p>
            </div>

        </div>
    </div>
</body>

</html>